@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html {
    scroll-behavior: smooth;
    background-color: rgb(44, 44, 44);
    color: white;
    height: 100%;
    --input-width: 80px;
    --area-height: 230px;
    font-family: 'Noto Sans', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none !important;
    transition: 0.3s;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    text-align: center;
    width: 100%;
}

@media (min-width: 950px) {
    html {
        --area-width: calc(100% - 150px);
    }
    #signup {
        text-align: center;
        width: 100%;
        font-size: 80px;
        font-weight: normal;
    }
    #signup > img {
        height: 150px;
    }
}

.openbutton > span {
    vertical-align: middle;
    display: inline-block;
    line-height: 50px;
}

.openbutton {
    width: 200px;
    height: 50px;
    background: rgb(10, 77, 153);
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.6s;
}

.openbutton:hover {
    box-shadow: rgb(15, 15, 15) 4px 8px 10px;
}

@media (max-width: 949px) {
    html {
        --area-width: calc(100% - 10px);
        zoom: 0.8;
    }
    #signup {
        text-align: center;
        margin-top: 10%;
        width: 100%;
        font-family: 'DejaVu Sans', sans-serif;
        font-size: 60px;
        font-weight: normal;
    }
    #signup > img {
        height: 130px;
    }
}

h1 {
    font-family: 'DejaVu Sans Bold', sans-serif;
    word-wrap: break-word;
}

.nonono {
    animation: nonono 0.35s ease-in-out;
}

#output {
    padding-top: 35%;
    padding-bottom: 35%;
}

#subbed {
    color: rgb(62, 253, 62);
    text-align: center;
    font-family: 'DejaVu Sans', sans-serif;
}

#notsubbed {
    color: rgb(255, 74, 74);
    text-align: center;
    font-family: 'DejaVu Sans', sans-serif;
}

#why {
    background-color: rgb(62, 62, 62);
    width: 100%;
    font-family: 'DejaVu Sans', sans-serif;
}

a {
    color: rgb(0, 255, 0);
}

#patron-name {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgb(187, 183, 183);
    padding: 5px;
    font-family: 'DejaVu Sans', sans-serif;
    color: rgb(43, 43, 43);
}

#itseasy {
    text-align: center;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 40px;
    margin-top: 500px;
}

.patreonp {
    cursor: pointer;
    font-weight: bold;
}

.patreonp:hover>.patreonarrow {
    opacity: 1;
    animation: driftarrow 1s alternate infinite ease-in-out;
}

.patreonarrow {
    opacity: 0;
    transition: 0.3s;
}

@keyframes driftarrow {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes hover {
    0% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(1%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes nonono {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

input {
    background: transparent;
    border-top: none;
    border-left: none;
    outline: none;
    border-right: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    color: white;
    font-size: 20px;
    transition: 0.3s;
    width: var(--input-width);
    -moz-appearance: textfield;
    margin-bottom: 10px;
    display: inline;
}

.pretty {
    margin-bottom: 15px;
}

.centerinput {
    margin-left: calc(50% - calc(var(--input-width) / 2));
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: scaleY(0);
    max-height: 0;
    pointer-events: none;
}

#advanceds {
    margin-bottom: 10px;
    transition: max-height 2s ease-out, transform 0.3s, opacity 0.5s;
}

#advanceds:not(.hidden) {
    max-height: 500px;
}

#advanced {
    font-size: 15px;
    transition: 0.3s;
    transform: translate(0, 9px);
    font-family: 'DejaVu Sans', sans-serif;
    color: white;
    display: inline-block;
    cursor: pointer;
}

#advanced:hover {
    color: #3c84d6;
}

.fhidden {
    opacity: 0;
}
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}
textarea {
    background: transparent;
    resize: none;
    padding-left: 12px;
    padding-top: 10px;
    display: block;
    width: var(--area-width);
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    height: var(--area-height);
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid white;
    outline: 0;
    color: white;
    font-size: 20px;
}

input:invalid {
    background: rgb(167, 120, 128);
    border: none;
    transition: 5s;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    border-bottom: 2px solid white;
}
